body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1198px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:84px;
  top:9px;
  width:955px;
  height:1263px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:955px;
  height:1263px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/test/u0_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1440px 1920px;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:955px;
  height:1263px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/test/u0_state1.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1440px 1920px;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u0_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:955px;
  height:1263px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/test/u0_state2.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1440px 1920px;
}
#u0_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:343px;
  top:741px;
  width:437px;
  height:28px;
  overflow:hidden;
}
#u1_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:28px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:1105px;
  top:110px;
  width:94px;
  height:284px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:284px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u3 {
  position:absolute;
  left:34px;
  top:11px;
  width:26px;
  height:27px;
}
#u4 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
}
#u5 {
  position:absolute;
  left:27px;
  top:132px;
  width:32px;
  height:28px;
}
#u6 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u7 {
  position:absolute;
  left:32px;
  top:246px;
  width:32px;
  height:27px;
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:284px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
}
#u9 {
  position:absolute;
  left:27px;
  top:132px;
  width:32px;
  height:28px;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u11 {
  position:absolute;
  left:34px;
  top:11px;
  width:26px;
  height:27px;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u13 {
  position:absolute;
  left:32px;
  top:246px;
  width:32px;
  height:27px;
}
#u14 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:284px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u15 {
  position:absolute;
  left:32px;
  top:246px;
  width:32px;
  height:27px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
}
#u17 {
  position:absolute;
  left:27px;
  top:132px;
  width:32px;
  height:28px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u19 {
  position:absolute;
  left:34px;
  top:11px;
  width:26px;
  height:27px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
